body{
  color: #000;
  background-color: #fcfcfc;
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
}

.table-wrapper{
  background-color: #fff;
  padding: 20px 25px;
  margin: 30px 0;
  border-radius: 1px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.247);
}


table.table td a.edit{
  color: #FFC107;
}


table.table td a.delete{
  color: red;
}

.pagination{
  float: right;
  margin: 0 0 5px;
}

.pagination li a{
  border: none;
  font-size: 14px;
  min-width: 30px;
  min-height: 30px;
  color: #999;
  margin: 0 2px;
  line-height: 30px;
  border-radius: 1px !important;
  text-align: center;
  padding: 0 6px;
}

.pagination li a:hover{
  color: #666;

}

.pagination li.active a, .pagination li.active a.page-link {
  background: #03A9F4;
}

.pagination li.active a:hover{
  background: #03A9F4;
}

.pagination li.disabled i {
  color: #ccc;
}

.pagination li i {
  font-size: 16px;
  padding-top: 6px;
}

.hint-text {
  float: left;
  margin-top: 10px;
  font-size: 14px;
}

td,thead{
  text-align: center;
}